/* Letra de google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ======= Variables Globales ======= */
:root {
    --primary-color: #000066;
    --text-gray-color: #8E8E8E;
    --text-white-color: #fff;

}

/* ===== Reset de estilos ===== */

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgba(245, 245, 245, 0.3);
}

/*===================================================*/
/*=================== INICIO ========================*/
/*===================================================*/


/*========= Header > logo ============*/

.logo {
    padding: 0px 20px;
    font-size: 0.8em;
}

.logo h1 {
    color: var(--primary-color);
}

.logo span {
    color: var(--text-gray-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/*========= Header > Nav ============*/

.inicio-nav ul li {
    display: inline;
    padding: 5px 20px;
}

/* ======== Main ========= */

/* ====== Main > Hero ====== */

.inicio-hero {
    background-color: #a6a6bf;
    height: calc(100vh - 83px);
    padding: 0 10vw;
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-white-color);
    background-image: linear-gradient(to right, rgba(0, 0, 102, 0.8),
            rgba(0, 0, 102, 0.4)), url(resources/img/grupo-de-jovenes.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.inicio-hero h2 {
    font-size: 3.5em;
}

.inicio-hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.inicio-hero a {
    text-decoration: none;
    font-size: 1em;
    border: 2px solid white;
    border-radius: 12px;
    padding: 12px 26px;

}

.inicio-hero div a+a {
    margin-left: 20px;
    color: var(--text-white-color);
}

.button-v2 {
    color: var(--primary-color);
    background-color: white;
}



/* ========= Inicio Nosotros ========= */

.inicio-nosotros,
.informacion-general {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    align-items: center;
    max-width: 70vw;
    margin: auto;
}

.inicio-nosotros h3,
.informacion-general h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.inicio-nosotros p,
.informacion-general p {
    color: var(--text-gray-color);
}

.inicio-nosotros .titulo,
.informacion-general .titulo {
    text-align: center;
    margin-bottom: 20px;
}

.inicio-nosotros .titulo p, .informacion-general .titulo p {
    font-size: 1.2em;
}

.inicio-nosotros .historia p {
    padding: 15px 0;
}

/* ==== Inicio Cartas Informacion ==== */

.inicio-nosotros .cartas-informacion {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.inicio-nosotros .cartas-informacion>div {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    margin: 0 10px;
    padding: 30px 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
    transition: 0.1s ease-in-out;
    background-color: white;
}

.inicio-nosotros .cartas-informacion>div:hover {
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.inicio-nosotros .cartas-informacion>div .icono {
    background-color: #00006630;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.inicio-nosotros .cartas-informacion>div p {
    font-size: 0.8em;
}


/*=====================================================*/
/*=================== CONTACTO ========================*/
/*=====================================================*/

.contacto-main {
    padding-top: 83px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto-main h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.contacto-main>p {
    color: var(--text-gray-color);
    max-width: 60vw;
    text-align: center;
    font-size: 1.2em;
}

.contacto-main .informacion {
    display: flex;
    padding: 50px 20px;
    width: 80%;
}

.contacto-main .informacion>div {
    width: 50%;
}

/*=================== Contacto > Informacion ========================*/

.contacto-main .informacion .cartas {
    font-size: 0.8em;
    margin-right: 50px;

}

.contacto-main .informacion .cartas>h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.contacto-main .informacion .cartas>div {
    padding: 20px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 15px;
    display: flex;
    gap: 20px;
    background-color: white;
    margin-bottom: 30px;
}

.contacto-main .informacion .cartas>div h3 {
    margin-bottom: 5px;
}

.contacto-main .informacion .cartas .icono, .cartas-informacion .icono {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-main .informacion .cartas .icono img{
    width: 60%;
    height: 60%;
}

.icono-azul {
   background-color: #0064fa24;
}

.icono-verde {
   background-color: #00fa1d24;
}

.contacto-main .informacion .cartas p {
    color: var(--text-gray-color);
}

.contacto-main .informacion .cartas .horario h4 {
    margin-bottom: 6px;
    font-size: 1.2em;
}


.contacto-main .informacion .cartas .horario {
    background-color: rgb(237, 237, 237);
    flex-direction: column;
    line-height: 0px;
}


/*=================== Contacto > formulario ========================*/

.formulario-contacto {
    background-color: white;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
}

.formulario-contacto .input, .textarea {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.formulario-contacto .input input, select, .textarea textarea {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(216, 216, 216);
}

.formulario-contacto button {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    padding: 12px 0;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: white;
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
}

.formulario-contacto button:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

.formulario-contacto .input-radio {
    display: flex;
    font-size: 0.9em;
    color: var(--text-gray-color);
}

.formulario-contacto .input-radio div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.formulario-contacto .terminos-condiciones {
    display: flex;
    gap: 10px;
    font-size: 0.8em;
    color: var(--text-gray-color);
    margin-bottom: 10px;
}

.formulario-contacto .terminos-condiciones span {
    color: var(--primary-color);
    font-weight: 500;
}


/*=====================================================*/
/*=============== OFERTA EDUCATIVA ====================*/
/*=====================================================*/

.oferta-educativa-main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.oferta-educativa-main h2 {
    font-size: 2.4em;
    margin-bottom: 12px;
}

.oferta-educativa-main>p {
    font-size: 1.1em;
    color: var(--text-gray-color);
    max-width: 50vw;
    text-align: center;
}

/* ======== Ciclos ============ */

.oferta-educativa-main .ciclos {
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90vw;
    gap: 30px;
}

.oferta-educativa-main .ciclos>div {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 25px;
    width: 25%;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.1s ease-in-out;
}

.oferta-educativa-main .ciclos>div:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.oferta-educativa-main .ciclos .icono {
    background-color: gray;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.oferta-educativa-main .ciclos h3 {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 25px;
    margin-bottom: 8px;
}

.oferta-educativa-main .ciclos .tipo-ciclo {
    color: rgb(0, 215, 0);
    font-size: 0.8em;

}

.oferta-educativa-main .ciclos .descripcion-ciclo {
    margin: 20px 0;
    color: var(--text-gray-color);
    line-height: 20px;
}

.oferta-educativa-main .ciclos .informacion-extra-ciclo {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    font-size: 0.9em;
}

.oferta-educativa-main .ciclos .informacion-extra-ciclo span {
    color: var(--text-gray-color);
}

.oferta-educativa-main .ciclos .informacion-extra-ciclo a {
    text-decoration: none;
    color: #000066;
}